*{
    box-sizing: border-box;
    margin: 0;
    /* overflow-y: auto; */
    /* vertical-align: middle; */

}

input[type=checkbox] {
    width: 0;
}

html {
    background: white;
    /* height: calc(100% - 60px); */
    background: rgba(171, 163, 163, 0);
}

.main-container {
    background: white;
    /* height: calc(100% - 60px); */
    background: rgba(171, 163, 163, 0.17);
}



.title-bar-container{
    height: 32px;       
}

#title-bar {
    -webkit-app-region: drag;
    height: 32px;
    padding: 0px;
    margin: 0px;
    color: #ffffff;
    background: linear-gradient(rgb(31, 202, 0), rgba(1, 142, 5, 0.92));
    font-family: sans-serif;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-collapse: inherit;
    width: 100vw;
    position: fixed;
}



#title {

position: fixed;

top: 0px;

left: 42%;

line-height: 32px;

font-size: 14px;

/* margin: auto; */
}



#title-bar-btns {

 -webkit-app-region: no-drag;

 position: fixed;

 top: 0px;

 right: 0px; 

}




#title-bar-btns button {

 height: 32px;

 width: 32px;

 background-color: transparent;

 border: none;

 color: black;

 font-size: 16px;

}

button#close-btn {
    border-top-right-radius: 10px;
}





#title-bar-btns button:hover {

 background-color: #3F3F41;

}

body{
    margin:0;
    padding: 0;
    min-width: 100vw;
    
    /* height: 600px; */
    height: 100%;
}

.loaded-images-holder{
    height: 80px;
    /* background-color: #f7f7f7; */
    background: linear-gradient(#ececec, #adadad);
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
    border-bottom: solid #0ad006 3px;
    flex:1;
}

.canvas-holder{
    width: auto;
    height: calc(100vh - 112px);
    background-color: rgba(255, 255, 255);
    display: block;
}

.canvas-container {
    position: relative;
    height: calc(100% - 112px);
    display: block;
}
.floating-canvas{
    border: 1px solid black;
    border-radius: 50px;
    pointer-events: none;

}


.controls{
  width: 25%;
  display: block;
  float: left;
  height: 100%;
  overflow-y: auto;
  text-align: center;
  box-sizing: initial;
  position: relative;
  background: white;
}

.pre-canvas-container{
    width: 75%;
    height:calc(100vh - 112px);
    overflow:auto;
    display: block;
    float: left;

}

canvas{
    cursor: none;
    position: absolute;
}

.inactive-canvas *{
    height: 0px;
    width:0px;
    display:none;
}

.settings, .zoom, .screen-cap-button {
    width: 30px;
    height: 30px;
    position: relative;
    text-align: center;
    margin-left: 0px;
}

.settings, .screen-cap-button {
    width: 37px;
    height: 36px;
    background: linear-gradient(#cecece,white);
    border-radius: 3px;
    border: 1px solid #b5b5b5;
}

.settings:hover, screen-cap-button:hover {
    background: linear-gradient(#ffffff,#e4e4e4);
}

.zoom{
    position: absolute;
    top: 0;
    left:0;   
}


.zoom2{
    position: absolute;
    top: 6%;
    left:0;  
}


.image-icon{
    height:60px;
    background-image: linear-gradient(#ffffff,#6d6fc7);
    position: relative;
    display: flex;
    text-align: center;
    margin-left: 20px;
    /*    border-radius: 10px;*/
    border: 1px black solid;
    box-shadow: 3px 5px 6px -1px #847676;
    overflow-x:hidden;
    min-height: 60px;
    box-sizing: content-box;
}

.image-icon-selected{
    /* border-bottom: 8px solid #ffffff; */
    /* border-top: 8px solid #ffffff; */
}

.image-icon:hover {
    /* border-radius: 30px; */
    /* border: #8de0ff 1px solid; */
    cursor: pointer;
    box-shadow: 5px 5px 6px 0px #847676;
    margin-left: 22px;
    margin-right: -2px;
    margin-top: -2px;
    /* border-bottom: 8px solid #1fca20; */
    /* border-top: 8px solid #434d5f; */
}

span#icon2 {}




.settings i, .zoom i, .screen-cap-button i{
    color: #0c1010;
    font-size: 25px;
    line-height: 38px;
}

.settings-container i:hover, .screen-cap-button i:hover {
    color: #00c300;
    cursor: pointer;
}

i.fa.fa-minus:hover {
    color: #ea0909;
    cursor: pointer;
}

.close {
    background-color: rgba(88, 88, 88,.5);
    line-height: 0;
    height: 22px;
    width: 22px;
    border-bottom-left-radius: 5px;
    margin-left: auto;
}

.close:hover {
    background-color: rgba(88, 88, 88,.8);
    line-height: 0;
    height: 22px;
    width: 22px;
    /* border-radius: 22px; */
    margin-left: auto;
}
.close i {
    color: #555555;
    line-height: 22px;
}

.close i:hover {
    color:#db0d0d
}

::-webkit-scrollbar {     
        background-color: #fff;
        width: .6em;
        height: .6em;
}


::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
  border: 1px solid #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(255, 255, 255);
/*    linear-gradient(left, #fff, #e4e4e4);*/
  border: 1px solid #aaa;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

::-webkit-scrollbar-thumb:active {
  background:  #fff;
/*    linear-gradient(left, #22ADD4, #1E98BA);*/
}

.mini-canvas{
    position: relative;
    cursor: default;
    margin: auto;
    border: 2px black solid;
}

.name-input {
    margin-bottom: 20px;
}

.min-max{
    display: inline-block;
    width: 40%;
    padding: 5px;
}

.min-max input{
    display: inline-block;
    width: 100%;
}

.log10, #checkbox{
    display: inline-block;
    width: 20%;
    vertical-align: top;
}



.calibrate-container{
    display: inline-block;
    width: 50%;
}

.name-input{
    display: none;
    width: 50%;
}

.zoom i{ 
    color: #303033;
    
}


.checkbox-container {
	width: 20px;
	height: 20px;
	background: #ddd;
	border-radius: 0;
	position: relative;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	margin: auto;
    margin-top: 3px;
}

.checkbox-container label {
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 0;
	transition:  .2s cubic-bezier(.09, .96, .86, .07);
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;
	background: #fff;
	box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}

.checkbox-container input[type=checkbox]:checked + label {
	background: #26ca28;

}


.example {
    position: relative;
}

.settings-container {
  display: grid;
  grid-template-columns: 40px 40px;
  grid-gap: 1px;
  height: 100%;
  margin-left: 10px;
  margin-top: 1px;
}

.woog {
    display:inline-block;
    padding: 10px 0;
}

.preferences {
    position: absolute;
    left:50%;
    margin-left: -200px;
    top:50%;
    margin-top: -125px;
    width:400px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.90);
    z-index: 10000;
    border: 1px black solid;
    display: none;
    padding: 20px;
}


button#saveprefs {
    margin-left: 45%;
}

